<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.11" targetFramework="net45" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net45" />
  <package id="IntotoArtifactRepository" version="1.5.1" targetFramework="net45" />
  <package id="Mono.Options" version="4.4.0.0" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.183" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net45" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net45" />
</packages>